.center{
   display: block;
   margin-right: auto;
   margin-left: auto;
   margin-top: 225px;
   width: 25%;
}
.mid{
   text-align: center;
}
.container{
   text-align: center;
   width: 90%;
   margin: auto;
}
button{
   text-align: center;
   position: relative;
   width: 130px;
   margin: auto;
   border: 1px solid #f2f2f2;
   background-color: #f2f2f2;
   font-size: 14px;
   font-family: Arial;
   color:#5f6368 ;
   height: 36px;
   margin-top: 25px;
   margin-left: 5px;
}
input{
   width: 500px;
   height: 35px;
   box-shadow:#5f6368;
   border: 2px solid #f2f2f2;
   border-radius: 25px;
   margin-top: 20px;
}
.row::after{
   content: "";
   display: table;
   clear: both;
}
.row{
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}

.first{
   text-align: center;
   width: auto;
   float: left;
   padding: 5px;
   margin-left: 10px;
}
.second{
   float: left;
   width: auto;
   padding: 5px;
   margin-left: 10px;
}
.third{
   float: left;
   padding: 5px;
   margin-left: 10px;
}
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f2f2f2;
   border: 1px #5f6368;
   padding: 15px;
   font-family: Arial;
   color:#5f6368;
}

